<%- include('partials/header') %>

<main>
    <h1><%= title %></h1>

    <p>Here are a few of our partner organizations:</p>
    <ul class="org-list">
        <li class="org-card">
            <img class="org-logo" src="/images/brightfuture-logo.png" alt="BrightFuture Builders logo">
            <div class="org-info">
                <strong>BrightFuture Builders</strong>
                <span>info@brightfuture.org</span>
            </div>
        </li>
        <li class="org-card">
            <img class="org-logo" src="/images/greenharvest-logo.png" alt="GreenHarvest Growers logo">
            <div class="org-info">
                <strong>GreenHarvest Growers</strong>
                <span>contact@greenharvest.org</span>
            </div>
        </li>
        <li class="org-card">
            <img class="org-logo" src="/images/unityserve-logo.png" alt="UnityServe Volunteers logo">
            <div class="org-info">
                <strong>UnityServe Volunteers</strong>
                <span>hello@unityserve.org</span>
            </div>
        </li>
    </ul>

</main>

<%- include('partials/footer') %>
